body {
    color: $body-font-color;
    background-color: $body-bg;
}

/* unvisited link */
a:link {
    color: #000;
}

/* visited link */
a:visited {
    color: #000;
}

/* mouse over link */
a:hover {
    color: #000;
}

/* selected link */
a:active {
    color: #000;
}

a:focus {
  color: #000;
  outline: -webkit-focus-ring-color auto 0px;
}

input {
  /*border-bottom: 2px solid $primary-color!important;*/
  border-top: 0!important;
  border-left: 0!important;
  border-right: 0!important;
  outline: 0;
  background: transparent;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(220, 164, 127, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(220, 164, 127, 0.6);
  outline: 0 none;
}
