.contacto{
	&__titulo{
		font-family: 'Avenir Heavy', sans-serif;
		color: #d61a33;
		font-size: 1.125rem;
	}
	&__texto{
		font-size: 0.875rem;
	}
	&__subtitulo{
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		color: #c05a5e;
		margin-top: 70px;
		font-size: 0.875rem;
	}
	&__box{
		background: #9b89af;
	}
	&__box-texto{
		padding: 5%;
		font-size: 1.125rem;
		color: #474c55;
	}
	&__separador{
		border-top: 1px solid #a7a9ae;
		width: 80%;
		float: left;
	}
	&__item{
		margin-top: 4%;
		font-size: 0.875rem;
	}
	&__item-img{
		margin-right:2%;
	}
	&__formulario{
		padding: 3%;
	}
	&__formulario-titulo{
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		color: white;
		margin-top: 8%;
		padding: 0 8%;
		font-size: 1.125rem;
	}
	&__input{
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 0.9rem;
		background: #beb1cd;
		color: white;
		padding: 3px;
		border-bottom: none !important;
		&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		    color: white;
		    opacity: 1; /* Firefox */
		}
		:-ms-input-placeholder { /* Internet Explorer 10-11 */
		    color: white;
		}
	}
	&__submit{
		display: block;
		background: #ff8200;
		color: white;
		border-radius: 0;
		padding: 10px 15px;
		margin-left: 0px;
		height: 50px;
		font-size: 1rem;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
	}
	&__enlace{
		color: #474c55!important;
	}
	&__enlace:hover{
		color: #474c55!important;
	}
	&__enlace:active{
		color: #474c55!important;
	}
	&__enlace:focus{
		color: #474c55!important;
	}
}

.form-group{
	&--margin{
		margin-bottom: 2rem;
	}
}

#map {
  height: 650px;
  width: 100%;
}

.closeMap{
  font-size: 1.875rem;
  position: absolute;
  top: 0;
  right: 16px;
  color: $primary-color !important;
  &:hover{
    text-decoration: none;
  }
}

#myInfo {
  width: 350px !important;
  height: auto;
  border: 1px solid #e2e2e2;
  padding: 15px;
  padding-left: 20px;
  top: 15px !important;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  border-radius: 2px 2px 0 0;
}

.form-control.is-invalid {
    border: 1px solid #df3948 !important;
}

.btn:focus,
.btn.focus {
	box-shadow: none;
}

@media (min-width: 992px) {
	.contacto{
		&__box-texto{
			padding: 15% 3% 0 3%;
		}
		&__box{
			border: 19px solid white;
			margin-top: -5%;
		}
		&__formulario-titulo{
			margin-top: 5%;
    	padding: 0 4%;
			font-size: 1.125rem;
		}
		&__titulo{
			font-size: 2.2rem;
		}
		&__texto{
			font-size: 1.1rem;
			line-height: 1.3;
			padding-bottom: 1.125rem;
		}
		&__subtitulo{
			font-size: 1.1rem;
		}
		&__item{
			margin-top: 4%;
			font-size: 1.1rem;
		}
		&__input{
				font-size: 1.1rem;
		}
		&__submit{
			font-size: 1.125rem;
		}
	}

	#map {
	  margin-top: 5%;
	}

}
