.postular_emprendedor{
background: #ff8200;
color: #fff!important;
padding: 1rem 2rem;
display: inline-block;
text-decoration: none!important;
}
.conoce{
  &__title__color{
    color: #5f0578;
    &--tamano{
      font-size: 2.1rem;
      margin-bottom: 4rem;
    }
	}
 &__contenido{
   text-align: justify;
   &__h2{
     font-size:1.625rem;
     color:#4c5154;
   }
   &__p{
     color:#474c55;
     font-size: 1.1rem;
     margin: 0;
     text-align: justify;
     &:last-child{
       margin: 1rem 0;
     }
   }
 }
 .criterios{
   background: #ecedef;
   padding: 7rem 0px;
   &__contenido{
      background: #fff;
      padding:2rem;
      font-size: 1.2rem;
      min-height:30rem;
      margin-bottom: 3rem;
      h2{
        margin:1.1rem 0rem;
        color:#4c5154;
      }
      p{
        color:#474c55;
        text-align: justify;
        a{
          color:#ff8200;
        }
      }
      .btn-anaranjado{
        background:#ff8200;
        color:#fff;
        padding: 1rem 2rem;
        display: inline-block;
        text-decoration: none;
      }
      ul{
        li{
          color: #4c5154;
          padding: 0.3rem 1.1rem;
          position: relative;
          i{
            font-size: 0.4rem;
            color:#ff8200;
            left: 0;
            position: absolute;
            top: 15px;
          }
        }
      }
   }
 }
}

.proceso__emprendedor{
  padding:8rem 0rem;
  &__item{
    border:1px solid #ecedef;
    padding: 2rem 3rem 0.9rem;
    margin: 2rem 2.3rem;
    position: relative;
    min-height: 509px;
    &--span{
      position: absolute;
      width: 7rem;
      height: 0.1rem;
      top: 19rem;
      right: -7rem;
      background: #ecedef;
      display: block;
    }
    &--img{
      position: relative;
      .numero{
        background: #5f0578;
        width: 5rem;
        height: 5rem;
        display: block;
        position: absolute;
        top: -5.5rem;
        margin: auto;
        left: 0;
        right: 0;
        border-radius: 50%;
        padding: 1.3rem;
        border: 0.5rem solid #fff;
        color: #fff;
        font-weight: 700;
        &--disabled{
          background: #ecedef;
          color:#63666a;
        }
      }
      img{
        width: 150px;
      }
      p{
        color:#63666a;
        font-weight: 800;
        margin-bottom: 2rem;
        margin-top: 1rem;
      }
    }
    &--contenido{
      h3{
        color:#63666a;
        padding:2.3rem 0rem 1rem;
      }
      p{
        color: #474c55;
        font-size: 1.3rem;
        &.parrafo{
          line-height: 1.4rem;
          font-size: 1.1rem;
        }
      }
      .btn-transparente{
        background: #fff;
        color: #ff8200;
        border: 2px solid #ff8200;
        border-radius: 10px;
        display: inline-block;
        padding: 0.6rem 1rem;
        font-size: 1.1rem;
        margin-bottom:1.8rem;
      }
      .pdf{
        color:#63666a;
        font-size: 1.1rem;
        svg{
          color: #ff8200;
        }
        &--disabled{
          svg{
            color:#63666a;
          }
        }
      }
    }
  }
  &__item--disabled{
    background:#ecedef;
  }
}

//modal__fondo__emprendedor

.modal__fondo__emprendedor{
  &__body{
    padding: 7rem 3rem 3rem 3rem;
    position: relative;
    .btn-cerrar{
      width: 50px;
      height: 50px;
      right: 10px;
      top: 10px;
      font-size: 40px;
      opacity: 1;
      color: #656565;
      position: absolute;
    }
    .franja{
      width: 136px;
      height: 115px;
      position: absolute;
      top: 0;
      left: 0;
    }
    &__contenido{
      background: #ececec;
      padding:2.8rem 3.2rem;
      margin-bottom: 3rem;
      h2{
        color:#ff8200;
        font-size: 1.4rem;
        font-weight: 400;
      }
      .body__listado{
        li{
          padding:0.7rem 0;
          font-size: 1.2rem;
          color:#6f6f6f;
          svg,i{
            color:#ff8200;
            margin-right: 4px;
            &.telefono{
              transform: rotate(90deg);
            }
          }
        }
      }
    }
    &__formulario{
      h3{
        color: #5a5a5a;
        font-size: 1.4rem;
      }
      p{
        margin: 1rem 0 1.4rem;
        text-align: justify;
        font-size: 1.2rem;
        color: #888888;
        font-weight: 300;
      }
      .textarea.form-control{
        height: auto;
      }
      .modal__input{
          font-family: 'Roboto', sans-serif;
          font-weight: 300;
          font-size: 0.9rem;
          background: #828282;
          color: white;
          padding: 10px 16px;
          border-bottom: none !important;
          &--tamano{
      			height: 50px;
      		}
          &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      		    color: white;
      		    opacity: 1; /* Firefox */
      		}
      		:-ms-input-placeholder { /* Internet Explorer 10-11 */
      		    color: white;
      		}
      }
    }
  }
}

/*=====================================
========= STAR MEDIA QUERIES ==========
=====================================*/
@media(max-width:375px){
  .modal__fondo__emprendedor{
    &__body{
      &__contenido{
        padding: 2rem;
        h2{
          font-size: 1rem;
        }
        .body__listado{
          li{
            font-size: 1rem;
          }
        }
      }
    }
  }
}
@media(max-width:425px){
  .banner-fondo{
  	&__parrafo{
  		left: 5% !important;
  		font-size: 1.1rem !important;
  	}
  	&__titulo{
  		font-size: 2rem !important;
  	}
  }
  .botones-fondo{
    padding: 20px 0px !important;
    .info-extra__contenedor{
      padding: 5px 10px
    }
  }
}
@media(max-width: 767px){
  .proceso__emprendedor{
    &__item{
      &--span{
        display: none;
      }
    }
  }
}
@media(max-width:768px){
  .conoce{
    &__contenido{
      &__h2{
        font-size: 1.115rem;
      }
      &__p{
        margin: 2% auto;
        font-size: 0.875rem;
        font-weight: 300;
      }
    }
  }
}
@media(min-width: 768px)and(max-width:991px){
  .proceso__emprendedor{
    &__item{
      padding: 2rem 1rem 2rem;
      margin: 2rem 1.3rem;
      &--img{
        img{
          width: 90px;
        }
      }
      &--contenido{
        h3{
          font-size: 1.1rem;
        }
        p{
          &.parrafo{
            font-size: 1rem;
          }
        }
      }
    }
  }
  .botones-fondo{
    .info-extra__contenedor{
      .info-extra__contenido{
        .info-extra__h2{
          font-size: 1.3rem;
        }
        .info-extra__parrafo{
          max-width:90%;
          line-height: 16px;
        }
      }
    }
  }
}
