footer{
    overflow: hidden; width: 100%;
    background: #474c55;
    color: white;
    font-size: 12px;
    position: relative;
}

.footer_content{
	margin-top: 3%;
  &__logo{
    margin: 0 auto;
    left: 0;
    right: 0;
    max-width: 160px;
    display: block;
  }
  &__container{
    min-height: 200px;
  }
  &__direccion{
    margin-top: 5%;
  }
  &__telefono{
  	margin-top: 5%;
  }
  &__email {
  	margin-top: 1%;
  }
  &__enlace{
    color: white!important;
    &:hover{
      color: white;
    }
    &:active{
      color: white;
    }
  }
  &__siguenos{
    margin-bottom: 10px;
  }
  &__menu{
  	  padding: 20px 3%;
      height: 200px;
      &-hr{
        width: 17%;
        text-align: right;
        margin-top: 0;
        margin: 0;
        margin-bottom: 20px;
        border-top: 2px solid #fff;
      }
  }
  &__links-interes{
      padding: 0px 3%;
      height: 200px;
      margin-top: 15px;
      &-hr{
      	width: 17%;
        text-align: right;
        margin-top: 0;
        margin: 0;
        margin-bottom: 20px;
        border-top: 2px solid #fff;
      }
  }
  &__redes{
   padding: 45px 3% 0 3%;
 }
  &__lista{
  	list-style:none;
  	padding: 0;
  }
  &__item-lista-enlace{
    color: white!important;
  	text-decoration: none;
  	line-height: 2.3;
  }
  &__icon{
    margin-left: 0;
    color: white!important;
  	text-decoration: none;
  	line-height: 2.3;
  }
}

.footer_bottom{
  &__copyright{
  	margin: 2% 0;
  	text-align: center;
    font-size: 0.6875rem;
  }
  &__enlace{
    color: white;
  	text-decoration: none;
    &:active{
      color: white!important;
    	text-decoration: none;
    }
    &:focus{
      color: white!important;
    	text-decoration: none;
    }
    &:hover{
      color: white!important;
    	text-decoration: none;
    }
  }
  &__botton{
  	background: #5a5e66;
      padding: 2px 10px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 80px;
      margin: 0 auto;
  }
  &__enlace{
    color: white!important;
    margin-top: 3%;
  }
}

@media(max-width:425px){
  footer{
    .footer_boton_contacto{
      bottom: 6.4rem;
      a{
        padding: 13px 15px;
        border-radius: 7px;
        font-size: 12px;
      }
    }
  }
}
@media (min-width: 576px) {
  .footer_content{
    &__redes{
    	margin-top: 50px;
    }
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .footer_content{
  	&__logo{
      max-width: 135px;
      display: unset;
    }
    &__menu{
      border-right: 1px solid white;
    	  padding: 0px 3%;
    }
    &__container{
      border-right: 1px solid white;
    	height: 200px;
    }
    &__links-interes{
      border-right: 1px solid white;
        margin-top: 0px;
    }
    &__redes{
    	margin-top: 0px;
      padding: 0px 3% 0 3%;
    }

  }
}

@media (min-width: 1100px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1300px) {
}
