.proyecto{
	background: #ECEDEF;

	&__titulo{
		font-weight: 400;
		color: #5f2580;
		padding: 8% 0;
    text-align: center;
		font-size: 1.125rem;
	}

	&__item-title{
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		color: #f58220;
		font-size: 1rem;
	}
	&__item-descripcion{
		font-family: 'Roboto', sans-serif;
		font-size: 0.875rem;
		font-weight: 300;
		margin-top: 2rem;
		color: #474c55;
		text-align: justify;
	}

	&__box{
		margin: 10% 0;
	}
}

@media (min-width: 992px) {
	.proyecto{
		&__titulo{
			padding: 3% 0;
			font-size: 2.2rem;
		}
		&__item-title{
			font-size: 1.125rem;
		}
		&__box{
			margin: 5% 0;
		}
		&__item-descripcion{
			font-size: 1rem;
		}
	}

	.participa__item--margen{
		margin: 3rem 0;
	}

}
