.participa{
	position: relative;
	text-align: center;
	padding-top: 30%;
	color: #474c55;
	&__banner{
		height: auto;
		&--position-right{
			background-position: 70% !important;
		}
		&--position-left{
			background-position: 35% !important;
		}
	}
	&__titulo{
    position: relative;
    &--miga{
      position: absolute;
      display: block;
      z-index: 1;
      left: 29px;
      top: 20px;
      a{
          font-size: 16px;
          color:#565656;
      }
    }
  }
	&__titulo-box{
		position: relative;
    	background: white;
    	margin-top: 10%;
	}
	&__title{
		font-family: 'Avenir Heavy';
		position: relative;
	  background: white;
	  width: auto;
	  font-weight: 700;
	  margin: 0 auto;
	  left: 0;
	  right: 0;
		color: #f58220;
		&--color{
			color: #bf0062;
		}
		&--color-gris{
			color: #474c55;
		}
		&--color-lila{
			color: #690670;
		}
	}
	&__subtitle{
		margin: 2% auto;
	  font-size: 0.875rem;
		font-weight: 300;
		color: #474c55;
		text-align: justify;
		&__punto{
			width: 5px;
			height: 5px;
			background: #ff8200;
			display: inline-block;
			margin: 3px;
			border-radius: 50%;
		}
		&--mBottom{
			margin-bottom: 1% !important;
		}
		&--detalle{
			text-align: justify;
		}
		&--center{
			text-align: center;
		}
		&--margin{
			margin-bottom: -0.9rem !important;
		}

	}
	&__imagen{
		padding: 0;
	}
	&__imagen-img{
		width: 100%;
	}
	&__box{
		padding-bottom: 0;
	}
	&__item{
		margin: 3rem 0;
		border-bottom: 0;
	}
	&__item-title{
		font-size: 1.125rem;
		font-weight: 400;
		color: #4c5154;
		&--sub{
			margin: 2% auto;
    width: 80%;
    text-align: left;
    color: #4c5154;
    font-size: 20px;
    font-weight: 400;
		}
	}
	&__item-descripcion{
		font-size: 0.875rem;
		font-weight: 300;
		line-height: 1.3;
		margin-top: 1rem;
		text-align: justify;
		&--label{
			color: #bababa;
		}
		&--estado{
			color: #474c55;
		}
		&--pdf{
			color: #474c55;
			a{
				text-decoration: none;
				svg,i{
					color:#bf0062;
					font-size: 18px;
				}
			}
		}
	}
	&__boton{
		position: initial;
    	width: 150px;
		margin-top: 30px;
	}
	&__link{
		padding: 5px 9px;
	    border-radius: 5px;
	    text-decoration: none;
	    font-size: 0.9375rem;
			transition: all .1s ease-in-out;
	}
	&__link:hover{
		text-decoration: none;
	}
	&__separador-flecha{
		padding-left: 10px;
	}
	&__link{
		color: #381460 !important;
    text-decoration: underline;
	}
	&__programa{
			font-family: 'Roboto', sans-serif;
			font-weight: 500;
			color: #bf0062;
			font-size: 1.1rem;
	}
	&__programa--lila{
			color: #690670;
			font-size: 1.1rem;
	}
	&__nuevo{
		display: inline-block;
		padding: 5px 10px;
		background: #e8e8e8;
		margin-bottom: 20px;
		color: #adb1b3;
	}
	&__filters{
		text-align: center;
		&-p{
			font-size: 18px;
			color: #4c5154;
			font-family: 'Roboto', sans-serif;
			font-weight: 500;
		}

	}
	&__form{
		width: 100%;
    margin: 4% auto;
		select.form-control{
			height: 50px !important;
		}
		.form-control{
			color: #ff8200;
		}
		.form-control:focus {
	    color: #96999f;
	    background-color: #f7f9fb;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    border-color: #96999f;
		}
	}
	&__submit{
		background: #ff8200;
    color: white;
    border-radius: 0;

    margin-left: 0px;
    height: 50px;
	}
	&__msj{
		text-align: center;
		color: #96999f;
	}
}

.participa__li:nth-child(4n+1){
	.participa__link{
		color: #d51a32 !important;
		border: 2px solid #d51a32;
		text-decoration: none;
	}
}

.participa__li:nth-child(4n+1){
	.participa__link:hover{
		background-color: #d51a32 !important;
		border: 2px solid #fcadb7!important;
		color: white!important;
		text-decoration: none;
	}
}

.participa__li:nth-child(4n+2){
	.participa__link{
		color: #a70871 !important;
		border: 2px solid #a70871;
		text-decoration: none;
	}
}

.participa__li:nth-child(4n+2){
	.participa__link:hover{
		background-color: #a70871 !important;
		color: white!important;
		border: 2px solid #fc70cc!important;
		text-decoration: none;
	}
}

.participa__li:nth-child(4n+3){
	.participa__link{
		color: #f08020 !important;
		border: 2px solid #f08020;
		text-decoration: none;
	}
}

.participa__li:nth-child(4n+3){
	.participa__link:hover{
		background-color: #f08020 !important;
		color: white!important;
		border: 2px solid #f9ba84 !important;
		text-decoration: none;
	}
}

.participa__li:nth-child(4n+4){
	.participa__link{
		color: #381460 !important;
		border: 2px solid #381460;
		text-decoration: none;
	}
}

.participa__li:nth-child(4n+4){
	.participa__link:hover{
		background-color: #381460 !important;
		color: white!important;
		border: 2px solid #9a62d8 !important;
		text-decoration: none;
	}
}

.participa__li:last-child {
  .participa__item{
  	border-bottom: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	.participa {
		padding-top: 23%;
		&__boton {
		    bottom: 10%;
		}
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.participa {
		border-top: 1px solid #5f2584;
		margin-top: 15%;
		padding-top: 0;
		&__titulo-box{
			margin-top: -8%;
		}
		&__title{
	    	font-size: 2.2rem;
	    	padding-top: 2%;
		}
		&__subtitle{
			margin: 2% auto;
		  font-size: 1.1rem;
			width:  80%;
			font-weight: 400;
			margin-bottom: 5%;
			line-height: 1.4;
			&--detalle{
				width: 70%;
			}
		}
		&__imagen{
			padding: 0 0.9375rem 0 0;
		}
		&__imagen-img{
			width: 94%;
		}
		&__item{
			margin: 3rem 10%;
		}
		&__form{
			width: 60%;
		}
	}

	.participa{
		&__item-descripcion{
			font-size: 0.875rem;
		}
		&__link{
			padding: 8px 1rem;
			font-size: 1.1rem;
		}
		&__box{
			padding-bottom: 5rem !important;
		}
		&__item{
			border-bottom: 1px solid #8d9096;
		}
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

@media (min-width: 1300px) {

	.participa{
		&__item-title{
			font-size: 1.4rem;

		}
		&__item-descripcion{
			font-size: 1.1rem;
		}
	}

}

@media (min-width: 1400px) {
	.participa{
		margin-top: 8%;

		&__item{
			margin: 3rem 0;
		}
		&__boton {
		    bottom: 10%;
		}
		&__item-title {
		    font-size: 1.625rem;
		}

	}
}

@media(max-width:990px){
	.participa{
		&__titulo{
			&--miga{
				left: 0;
				top: -26px;
				a{
					font-size: 13px;
				}
			}
		}
	}
}
