html, body{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
	font-size: 14px;
}
.cabecera_principal{
	background: #fff;
	position: relative;
    z-index: 1;
		height: 60px;
}
.contenedor_menu{
	position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 6%;
}
.barra_top{
	text-align: right; padding-bottom: 12px;
	padding-top: 12px
}
.menu_top_right{display: inline-block}
.no-touch .cbp-hsmenu > li > a:hover,
.no-touch .cbp-hsmenu > li > a:focus,
.cbp-hsmenu > li.cbp-hsitem-open > a {
	color: #000; background: transparent; text-decoration: none
}
.cbp-hsmenu > li > a {
    padding: 10px 3px 0 3px;
    margin-left: 30px;
    line-height: 2em;
    color: #000;
}
.cbp-hsmenu > li > a.inicio {
    border-bottom: 3px solid #ff8200;
}
.cbp-hsmenu > li > a.como_ayudamos2 {
    border-bottom: 3px solid #ab2328;
}
.cbp-hsmenu > li > a.quienes_somos {
    border-bottom: 3px solid #c8102e;
}
.cbp-hsmenu > li > a.nosotros {
    border-bottom: 3px solid #381460;
}
.cbp-hsmenu > li > a.contacto {
    border-bottom: 3px solid #ac0871;
}
.cbp-hsmenu > li > a.dona, .cbp-hsmenu > li > a.dona:hover {
    border-bottom: 3px solid #5f0578;
    padding: 0px 35px;
    background: #5f0578;
    color: #fff;
    border-radius: 5px;
}
.logo{
	left: 0;
	z-index: 10;
	position: absolute;
	top: 10px;
	&__imagen{
		width: 220px;
	}
}

.logo-mob{
	width: 100px;
	left: 10px;
	z-index: 10;
	position: absolute;
	top: 3px;
	&__imagen{
		width: 100px;
	}
}


.carousel-item{
	&__caption{
		max-width: 757px; width: 100%;
		position: absolute;
		left: 10%;
		top: 60%;
		color: #474c55;
		z-index: 200;
	}
	&__titulo{
		font-size: 3.125rem; margin: 2rem 0; color:#5f2584;
		text-transform: uppercase; font-weight: bold;
	}
	&__descripcion{
		font-size: 1.625rem;
		font-weight: 300;
	}
	&__link{
		display: inline-block;
		margin-top: 2rem;
		background: transparent;
		padding: 1% 3rem;
		font-size: 1.063rem;
		color: #5f2584;
		border-radius: 8px;
		border: 1px solid #5f2584;
		z-index: 200;
	}
	&__link:hover{
		background: transparent;
		color: #5f2584;
		text-decoration: none;
	}
	&__link:visited{
		color: #5f2584;
		text-decoration: none;
	}
	&__link:link{
		color: #5f2584;
		text-decoration: none;
	}
	&__flecha{
	   width: 7px;
	   display: inline-block;
	   margin-left: 10px;
	}
	&__imagen{
		max-width: 130%;
	}
}


.slider-container{
	position: relative;
	margin-top: -45px;
}
.slide .item{
	position: relative
}

.slider .owl-dots {
	position: absolute; bottom: 5rem; width: 100%;
	text-align: center
}
.slider.owl-theme .owl-dots .owl-dot span{
	width: 35px !important; height: 3px
}
.slider.owl-theme .owl-dots .owl-dot.active span,
 .slider.owl-theme .owl-dots .owl-dot:hover span{
	background: #fff
}
.owl-theme .owl-dots .owl-dot:focus{
	outline: none
}
.slider.owl-theme .owl-dots .owl-dot span{
	background: rgba(255, 255, 255, 0.109)
}

.menu-vertical li{
	margin: 0
}

.cbp-hsmenubg{z-index: 2;
	-moz-box-shadow: inset 0 0 3px #aaa9a9;
    -webkit-box-shadow: inset 0 0 3px #aaa9a9;
	box-shadow: inset 0 0 3px #aaa9a9
}
.menu_top_right a{
	padding: 0 1rem; display: inline-block; color: #474c55;
	font-size: 0.9375rem; margin: 0 1rem; font-weight: 300
}
.menu_top_right a.icon{
	padding: 0;
	margin: 0 5px;
}
.menu_top_right a img{
	margin-right: 15px;
}
.contenedor_header{
	margin-left: auto;
	 margin-right: auto;
	 position: relative;

}

.cbp-hsmenu{
	display:none;
}
.menu-vertical{
    width: 200px; left: auto; background: #fff;
}
.menu-max{
	background: #fff
}
.menu-vertical li a{
	text-align: left
}
.menu-vertical li a:hover{
	background: #474c55; color: #fff; text-decoration: none
}
.menu-vertical li{
    width: 100%; box-shadow: none!important
}

.menu_niveles{
	margin-left: 200px;
}
.menu_niveles li{
	box-shadow: none !important
}
.contenedor{
	display: table; width: 100%;
	max-width: 1440px;margin-left: auto;
	margin-right: auto; padding-left: 15px; padding-right: 15px;
}
.contenedor_fluid{
	padding-left: 15px;padding-right: 15px;
	max-width: 2465px; margin-left: auto; margin-right: auto;
}
.menu-vertical li a{padding: 20px 12px}

.cbp-hsmenu > li.cbp-hsitem-open > a:after{
    border-top-color:transparent;
}
.cbp-hsmenu li a{
	font-size: 1.1rem;
	font-weight: 500;
 }
.cbp-hsmenu-wrapper .cbp-hsmenu{
	text-align: right;
	max-width: none;
	width: auto;
	margin: 0;
	padding: 0;
	position: relative;
    right: 0;
    top: 0;
}
.cbp-hsinner{
	background: transparent;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}


.no-touch .cbp-hsmenu > li > a:hover,
.no-touch .cbp-hsmenu > li > a:focus,
.cbp-hsmenu > li.cbp-hsitem-open > a {
	color: #000; text-decoration: none
}

.boton_menu:hover, .boton_menu:focus{
	color: #000; text-decoration: none;
}
.menu_colap.open{
	display: block
}
.boton_menu{
	position: absolute;
    top: 0;
    color: #999393;
    right: 10%;
    font-size: 0.625rem;
    width: 60px;
    z-index: 5;
    z-index: 100;
    text-align: center;
    padding: 10px;
}
.boton_menu i{font-size: 4rem;}


.boton_menu:focus, .boton_menu:hover{
	color: #474c55
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container-menu{
    right: 35px;
    top: 7%;
  }
	.cabecera_principal{
		height: 130px;
	}
  .logo-mob__imagen {
    width: 180px;
  }
  .logo-mob {
    left: 35px;
    top: 23px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.cbp-hsmenu{
		display:block;
	}
	.cabecera_principal{
		height: 170px;
	}

	.logo{
		top: -40px;
		&__imagen{
			width: 160px;
		}
	}

	.carousel-item{
		&__imagen{
			max-width: 100%;
		}
	}

	.slider-container{
		position: relative;
		margin-top: 0px;
	}
}



// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.container{
		max-width: 1200px;
	}
}
@media (min-width: 1300px) {
	.logo{
		&__imagen{
			width: 180px;
		}
	}
	.container{
		max-width: 1200px;
	}
}
@media (min-width: 1400px) {
	.cbp-hsmenu > li > a {
	    padding: 30px 3px 0 3px;
	}
	.container{
		max-width: 1400px;
	}
	.logo{
		&__imagen{
			width: 242px;
		}
	}
}

@media (min-width: 1500px) {
	.logo{
		top: -30px;
	}
}

@media (min-width: 992px){
.modal-lg {
    max-width: 1140px!important;
  }
}
