.historias{
	&__descripcion{
		padding: 5%;
	}
	&__box{
		border: 1px solid purple;
    	height: 90%;
    	width: 90%;
    	position: absolute;
	}
	&__texto{
		background: white;
    z-index: 1;
    color: #474c55;
    font-family: 'Roboto', sans-serif;
		font-weight: 300;
		margin-top: 4%;
		width: 100%;
	}
	&__comilla{
		background: white;
	    z-index: 1;
	    width: 15%;
	    text-align: center;

			margin: 0 auto;
    margin-top: -13px;

	}
	&__imagen{
		padding: 0;
		margin-bottom: 10px;
	}
	&__imagen-img{
		width:100%;
	}&__imagen-play{
		position: absolute;
	    top: 30%;
	    left: 45%;
	    width: 10%;
	}
	&__background{
		position: absolute;
	    bottom: 0;
	    width: 100%;
	    opacity: 0.8;

	    &--color-rojo {
	    	background: #da1a32;
	    }

	    &--color-naranja {
	    	background: #f18020;
	    }

	    &--color-morado {
	    	background: #602581;
	    }
	}
}

.testimonio{
	color: white;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 3%;
    padding-right: 5%;
    padding-top: 3%;

	&__titulo{
		font-weight: 700;
		padding: 4px 20px 0 0;
		font-size: 1.25rem;
	}
	&__item{
		font-weight: 300;
		margin: 0;
		font-size: 0.875rem;
	}
}
@media (min-width: 576px) {
	.historias{
		&__descripcion{
			padding: 13% 5%;
		}
		&__comilla{
		    margin-top: -2%;
		}
	}

}

@media (min-width: 992px) {
	.historias{
		&__descripcion{
			padding: 5%;
		}
		&__box{
			height: 400px;
	    width: 70%;
		}
		&__texto{
			padding: 0 60px;
		}
		&__comilla{
		   margin-top: -13px;
		}
		/* &__background{
		    bottom: 13%;
		} */
		&__imagen{
			margin-bottom: 0px;
		}
	}
	.testimonio{
		&__titulo{
			padding: 20px 20px 0 0;
			font-size: 2em;
		}
		&__item{
			font-size: 1.125rem;
		}
	}

}

@media (min-width: 1200px) {

	.historias{
		&__background{
		    bottom: 0;
		}
	}

	.testimonio{
		&__item{
			font-size: 1.125rem;
		}
	}

}


@media (min-width: 1400px) {
	.historias{
		&__box{
			height: 300px;
	  }
	}

	.testimonio{
		&__item{
			font-size: 1.125rem;
		}
	}
}
