.mision{
	position: relative;
	display: block;
	text-align: center;

	&__parrafo{
		color: #454a54;
		font-weight:300;
		font-size: 0.9375rem;
		margin-bottom: 0.5rem;
	}

	&__h2{
		margin-top: 0;
		color: #5f2584;
		font-size: 1.125rem;
		font-weight:400;
	}

	&__texto{
		margin: 0 auto;
	}

	&__imagen-w{
		position: absolute;
		display: none;
		max-width: 300px;
    height: auto;
		&--margin{
			z-index: -1;
		    width: 17%;
		}
	}

	&__imagen-w2{
		position: absolute;
		display: none;
		max-width: 300px;
    height: auto;
		&--margin{
			z-index: -1;
		    width: 17%;
		}
	}
}

.bx-mision{
	text-align: center;
	&__imagen{
		width: 101%;
	}
}

.valores{
	margin: 1rem 0;
	&__titulo{
		color: #db132f;
		margin-bottom: 1rem;
		font-size: 1.125rem;
		&--color-lila{
			color: #ae0271;
		}
		&--color-naranja{
		color: #f5831a
		}
	}
	&__contenido{
		font-size: 0.9375rem;
		font-weight: 300;
		color: #474c55;
		line-height: 1.4;
		width: 60%;
		text-align: justify;
		margin: 0 auto
	}
	&__boton-purple {
		margin-top: 1%;
		&-link{
				padding: 5px 20px 5px 10px;
		    border: 1px solid #5f2584;
		    border-radius: 8px;
		    color: #5f2584;
		    text-decoration: none;
				font-size: 0.9375rem;
		}
		&-link:visited{
				color: #5f2584;
		}
		&-link:link{
				color: #5f2584;
				transition: all .1s ease-in-out;
		}
		&-link:hover{
			text-decoration: none;
			background-color: #5f2584;
			color: white;
		}
		&-imagen{
			width: 7px;
		  margin-left: 8px;
		}

	}
}

.proyectos{
	position: relative;
	text-align: center;
	border-top: 1px solid #5f2584;
	margin-top: 6%;
	padding: 0;
	&__title{
		position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    background: white;
		margin: 0 auto;
	}
	&__hprincipal{
		font-size: 1.063rem;
		font-weight: 400;
		padding-top: 20px;
		&--naranja{
			color: #f58220;
		}
	}
	&__hsecundario{
		font-size: 1.125rem;
		font-weight: bold;
		color: #f58220;
	}
	&__proyecto{
		position: relative;
		margin-top: 5%;
		overflow: hidden;
	}
	&__img{
		transition: transform .25s ease-in-out;
		width: 100%;
	}
	&__img:hover{
		-webkit-transform:scale(1.1);
		-ms-transform: scale(1.1);
		transform:scale(1.1);
	}
	&__background{
		position: absolute;
	    bottom: 0;
 		height: 120px;
	    width: 100%;
	    z-index: 0;
			&--fondo1{
					background: rgba(200,16,46,0.8);
			}
			&--fondo2{
				background: rgba(245,130,32,0.8);
			}
			&--fondo3{
				background: rgba(95,37,132,0.8);
			}
	}
	&__iso{
		height: 70%;
		text-align: left;
		&-imagen{
			width:80px;
		}
	}
	&__call2action{
		position: absolute;
		text-align: right;
		top: 5px;
		right: 0;
		padding-right:20px;
		color: white;
	}
	&__proximamente{
		padding-top: 20px;
		font-size: 1.125rem;
		font-weight: bold;
	}
	&__categoria{
		font-size: 0.9375rem;
		font-weight: 400;
	}
	&__nombre{
		font-size: 0.9375rem;
		font-weight: 300;
	}
	&__row{
		margin-top: 70px;
	}
	&__boton{
		min-width: 90px;
	}

	&__container-boton{
		position: absolute;
		width: auto;
		right: 35px;
		z-index: 2;
		bottom: 10px;
	}
	&__link{
		transition: all .1s ease-in-out;
		padding: 5px 20px 5px 10px;
    border: 1px solid white;
    border-radius: 8px;
    color: white!important;
  	background: transparent;
		text-decoration: none;
		font-size: 0.9375rem;
		z-index: 200;
	}
	&__link:hover{
		text-decoration: none;
		background-color: white;
		color: #474c55!important;
	}
	&__link--lila{
		border: 1px solid #690670;
		color: #690670;
  }
	&__imagen{

		width: 7px !important;
	  margin-left: 8px;
	}

	&__separador-flecha{
		padding-left: 3px;
    padding-top: 1px;
    position: absolute;
	}
}

.info-extra{

	&__contenido{
		position: absolute;
		width: 100%;
		height: 100%;
		color: white;
		padding: 0;
		overflow:hidden;
		z-index: 15;
	}
	&__parrafo{
		max-width: 70%;
	}
	&__h2{
		font-size: 1.125rem;
		font-weight: 400;
		z-index: 1;
	}
	&__boton{
		margin-top: 3%;
		width: 95%;
		text-align: center;
		z-index: 1;
	}
	&__link{
		transition: all .1s ease-in-out;
		padding: 5px 20px 5px 15px;
    border: 1px solid white;
    border-radius: 8px;
		color: white!important;
  	background: transparent;

		text-decoration: none;
		font-size: 0.9375rem;
		text-decoration: none;
	}
	&__link:hover{
		text-decoration: none;
		color: #474c55!important;
  	background: white;
	}
	&__contenedor{

		overflow:hidden;
		&:hover .info-extra__imagen-img{
			-webkit-transform:scale(1.1);
			-ms-transform: scale(1.1);
			transform:scale(1.1);
		}
	}

	&__imagen-img{
		display: block;
		transition: transform .25s ease-in-out;
	}

	&__bloque-izquierda{
		padding-right:0;
		padding-bottom: 10px;
	}
	&__bloque-derecha{
		padding-left:0;
	}
}

.proyectos .contenido img{
	width: 83%;
}

.proyectos .info-extra img{
	width: 100%;
}

.bx_proyecto .conten-left{
    padding: 0;
    text-align: left;
    padding-bottom: 33px;
    float: left;
}
.bx_proyecto .conten-right{
	padding: 20px 40px 0 0;
    text-align: right;
    float: right;
}
.mb-10{
	margin-bottom: 10%;
}
.mt-10{
	margin-top: 10%;
}

.link-purple {
	margin-top: 1%;
	text-align: right;
}
.link-purple a{
	padding: 10px 30px;
    border-radius: 8px;
    color: #5f2584;
    text-decoration: underline;
	font-size: 0.9375rem;
}
.link-purple a img{
	width: 7px;
    margin-left: 8px;
}

.novedades{
	margin-top: 5%;
	&__titulo{
		color: #f58220;
		font-size: 1.25rem;
		text-align: center;
	}
	&__titulo-img{
		display: none;
	}
}

.list-inline {
    display: inherit;
}
.fechas{
	&__titulo{
		color: #f58220;
		font-size: 0.9375rem;
		font-weight: 300;
	}
	&__contenido{
		font-size: 0.9375rem;
		color: #474c55;
		font-weight: 300;
	}
	&__calendario{
		width: 10%;
		margin-right: 5px;
	}
	&__parrafo{
		padding-top: 10px;
		&--top{
			padding-top: 5%;
		}
		&--detalle{
			width: 60%;
		    text-align: center;
		    margin: 0 auto;
		    padding-top: 2%;
		}
	}
}

.newsletter{
	position: relative;
	text-align: center;
	border-top: 1px solid #96999f;
	margin-top: 5%;
	color: #474c55;
	&--noBorder{
			margin-top: 0;
			border: 0;
			margin-bottom: 2%;
	}
	&__title{
		position: absolute;
    top: -40%;
    /* left: 50%; */
    /* right: 50%; */
    background: white;
    width: auto;
    font-weight: 400;
    font-size: 1.25rem;
    margin: 0 auto;
    left: 0;
    right: 0;
		&-h2{
			font-size: 1.25rem;
		}
	}
	&__subtitle{
			margin: 1% auto;
	    font-size: 1rem;
			font-weight: 300;
			margin-top: 2%;
	}
}


.newsletter .newsletter__contenedor input{
	background: #96999f;
	color: white;
	padding: 18px 15px;
	border-bottom: none !important;
}
.newsletter .newsletter__contenedor input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.newsletter .newsletter__contenedor input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}
.newsletter .newsletter__contenedor .form-control{
	border: 1px solid #9b89af;
	border-radius: 0;
	height: auto;
}

.newsletter .newsletter__contenedor .newsletter__submit{
	display: block;
	background: #ff8200;
	color: white;
	border-radius: 0;
	padding: 10px 15px;
	margin-left: 0px;
	height: 56px;
}

.newsletter .form-control.is-invalid{
	border: 1px solid #df3948 !important;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 3px;
    padding-left: 3px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

.col-xs-7ths,
.col-sm-7ths,
.col-md-7ths,
.col-lg-7ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-7ths {
    width: 50%;
    float: left;
}


.col-noticia{
	max-width: 340px;
	width: 100%;
	margin: 0 auto;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
    .col-sm-7ths{
		width: 25%;
	}
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
	.col-md-7ths{
		width: 14.285%;
	}
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

	.col-noticia{
		max-width: 100%;
	}

	.mision{
		&__imagen-w{
			display: block;
			max-width: 100%;
		}
		&__imagen-w2{
			display: block;
			max-width: 200px;
		}
		&__parrafo{
			font-size: 1.5rem;
		}
	  &__h2{
		  font-size: 2rem;
		}
	}

	.valores{
		&__contenido{
			font-size: 1rem;
			width: 80%;
		}
		&__titulo{
			font-size: 1.35rem;
		}
		&__boton-purple {
			&-link{
					padding: 10px 40px 10px 30px;
			    font-size: 1.2rem;
			}
		}
	}

	.proyectos{

		&__title{
			width: 500px;
			top: -30px;
	  	}
		&__hprincipal{
			font-size: 2.1rem;
			padding-top: 0;
		}
		&__hsecundario{
			font-size: 2.2rem;
		}
		&__row{
			margin-top: 110px;
		}
		&__iso{
			&-imagen{
				width:70px;
			}
		}
		&__categoria{
			font-size: 1.125rem;
		}
		&__nombre{
			font-size: 1.125rem;
		}
		&__link{
			padding: 8px 30px 8px 20px;
			font-size: 1.1rem;
		}
		&__background{
			height: 160px;
		}
		&__call2action{
			top: 10px;
			padding-right: 10px;
		}
		&__boton{
			min-width: 155px;
		}
		&__separador-flecha{
			padding-top: 3px;
	  }
		&__proyecto{
			margin-top: 5%;
		}
		&__container-boton{
			position: absolute;
			bottom: 15px;
			right: 30px;
		}
	}

	.info-extra{
		&__h2{
			font-size: 2rem;
		}
		&__link {

			padding: 8px 30px 8px 20px;
	    font-size: 1.1rem;
		}
		&__bloque-izquierda{
			padding-right:5px;
			padding-bottom: 0px;
		}
		&__bloque-derecha{
			padding-left:5px;
		}
	}

	.fechas{
		&__titulo{
			font-size: 1.1rem;
		}
		&__contenido{
			font-size: 1.1rem;
    		line-height: 1.2;
		}
		&__calendario{
			width: 10%;
			margin-right: 5px;
		}
		&__parrafo{
			padding-top: 10px;
			&--detalle{
				width: 25%;
			}
			&--top{
				padding-top: 0 !important;
			}
		}
	}

	.newsletter{
		&__title{
			width: 400px;
	    font-size: 2.2rem;
	    &-h2{
				font-size: 2.5rem;
			}
		}
		&__subtitle{
			font-size: 1.4rem;
		}
		&__submit{
			margin-left: 0.9375rem;
		}
		&__submit-container{
			max-width: 205px;
		}
	}

	.link-purple a{
		font-size: 1.2rem;
	}

	.novedades{
		&__titulo{
			display: none;
		}
		&__titulo-img{
			display: block;
		}
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.container{
		max-width: 1200px;
	}
	.proyectos{
		&__call2action{
			padding-right: 20px;
		}
		&__iso-imagen{
			width: 120px;
		}
	}
}
@media (min-width: 1300px) {
	.container{
		max-width: 1200px;
	}
}

@media (min-width: 1400px) {
	.container{
		max-width: 1400px;
	}
	.mision{
		&__imagen-w{
			max-width: 100%;
		}
		&__imagen-w2{
			max-width: 100%;
		}
	}
}
