// menu mobile
/*nav menu*/
#menuHamburguer {
  left: 12px;
  color: white;
  z-index: 2;
  font-size:  1.563rem;
}

.container-menu {
    position: fixed;
    right: 10px;
    z-index: 3;
    background: #5f2584;
    color: #fff;
    width: 40px;

    font-size: 1.5rem;
    border: 1px solid #fff;
    top: 1%;
}

.container-menu div {
    width: 100%;
    text-align: center;
    margin-top: 2px;
}

.container-menu-icon {
    background: #5f2584;
}

.sidenav {
height: 100%;
/* 100% Full-height */
width: 0;
/* 0 width - change this with JavaScript */
position: fixed;
/* Stay in place */
z-index: 4;
/* Stay on top */
top: 0;
right: 0;
background-color: #474c55;
/* Black*/
overflow-x: hidden;
/* Disable horizontal scroll */
padding-top: 60px;
/* Place content 60px from the top */
-webkit-transition: 0.3s;
transition: 0.3s;
z-index: 16;
/* 0.5 second transition effect to slide in the sidenav */
}


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 2.25rem;
margin-left: 50px;
color: white;
}


.overlay3 {
height: 100%;
width: 0;
position: fixed;
z-index: 3;
top: 0;
left: 0;
background-color: slategray;
opacity: .6;
overflow-y: auto;
overflow-x: hidden;
text-align: center;
opacity: 0;
-webkit-transition: opacity 1s;
transition: opacity 1s;
display: none; }




.sidebar-toggle {
  margin-left: -240px;
}
.sidebar {
  width: 100%;
  height: 100%;
  background: #474c55;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}
.sidebar #leftside-navigation ul,
.sidebar #leftside-navigation ul ul {
  margin: -2px 0 0;
  padding: 0;
}
.sidebar #leftside-navigation ul li {
  list-style-type: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.sidebar #leftside-navigation ul li.active > a {
  color: #e79249;
}
.sidebar #leftside-navigation ul li.active ul {
  display: block;
}
.sidebar #leftside-navigation ul li a {
  color: #ecedef;
  text-decoration: none;
  display: block;
  padding: 18px 0 18px 25px;
  font-size: 0.9375rem;
  outline: 0;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.sidebar #leftside-navigation ul li a:hover {
  color: #e79249;
}
.sidebar #leftside-navigation ul li a span {
  display: inline-block;
}
.sidebar #leftside-navigation ul li a i {
  width: 20px;
}
.sidebar #leftside-navigation ul li a i .fa-angle-left,
.sidebar #leftside-navigation ul li a i .fa-angle-right {
  padding-top: 3px;
}
.sidebar #leftside-navigation ul ul {
  display: none;
}
.sidebar #leftside-navigation ul ul li {
  background: #23313f;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-bottom: none;
}
.sidebar #leftside-navigation ul ul li a {
  font-size: 0.9375rem;
  padding-top: 13px;
  padding-bottom: 13px;
  color: #aeb2b7;
}

@media (min-width: 992px) {
  .sidenav {
  /* Black*/
  overflow-y: hidden;
  }
}
