.noticia{
	color: #474c55;
	font-family: 'Roboto', sans-serif;
	font-size: 1.125rem;
	margin-top: 5%;
	padding-right: 0;

	&__subtitulo{
		font-weight: 400;
		line-height: 1.2;
	}
	&__contenido{
		font-weight: 300;
		margin-bottom: 10%;
		font-size: 0.875rem;
	}
	&__link{
		color: #ff8200 !important;
		font-weight: 300;
		text-decoration: underline;
		position: absolute;
    	bottom: 0;
    	&--bottom{
    		bottom: 15px;
    		font-size: 1rem;
    		position: relative;
    	}
	}
	&__imgen{
		padding-right: 0;
	}
}
.detalle{
	width: 90%;
	text-align: justify;
	margin: 0 auto;

	&__parrafo{
		font-family: 'Roboto', sans-serif;
		color: #474c55;
		font-weight: 300;
		margin: 2% 0;
	}
	&__imagen-img{
		width: 100%;
	}
	&__titulo-novedades{
		font-family: 'Roboto', sans-serif;
		color: #474c55;
		font-weight: 400;
		text-align: center;
		margin-top: 3%;
	}
	&__hr{
		border-top: 1px solid #8d9096;
	}
}

@media (min-width: 992px) {
  	.noticia{
		padding-right: 15px;
		&__imgen{
			padding-right: 15px;
		}
		&__link{
	    	&--bottom{
	    		bottom: 15px;
	    		font-size: 1.125rem;
	    		position: absolute;
	    	}
		}
	}
	.detalle{
		&__parrafo{
			font-size: 1rem;
		}

	}
}
