.banner{
    height: 400px;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    position: relative;

    &__titulo{
    	font-family: 'Roboto', sans-serif;
	    font-weight: 400;
	    color: white;
	    /* padding-left: 5%; */
	    font-size: 1.1rem;
    }
    &_brujo{
      position: absolute;
      left: 10%;
      top: 70px;

      &__titulo{
        color: white;
        font-size: 1.438rem;
        font-family: 'Roboto', sans-serif;
      }
    }
}



.complejo{
	position: relative;
	padding-top: 16px;

	&__item{
		margin: 0;
		width: 100%;

		&--lila{
			border-bottom: 4px solid #602581;
		}
		&--naranja{
			border-bottom: 4px solid #F18020;
		}
		&--rojo{
			border-bottom: 4px solid #D61A33;
		}
	}
	&__link{
		background: #ECEDEF;
		margin-bottom: 3px;
	}
	&__link_active{
		color: white !important;
		&--lila{
			background: #602581 !important;
		}
		&--naranja{
			background: #F18020 !important;
		}
		&--rojo{
			background: #D61A33 !important;
		}
	}
	&__content{
		margin: 5% 0;
		display: inline-block;
		background: white;
    width: 100%;
	}

	&__descripcion{
		/*padding: 23% 9% 5% 19%;*/
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		color: #474C55;
		&--bold-lila{
			font-weight: bold;
			color: #602581;
		}
		&--bold-naranja{
			font-weight: bold;
			color: #F18020 !important;
		}
	}
	&__descripcion-item{
		margin-bottom: 15px;
	}

	&__img-w{
		position: absolute;
		top: 0;
		left: 15px;
		width: 45%;
		&--position{
			left: 0px;
			width: 25%;
		}
	}
}

#equipo-trabajo{
  text-align: center;
}

#proyectos-dirige ul{
  list-style: initial;
  margin-left: 8%;
}

.tabs-box{
	position: relative;
    background: white;

	&__titulo{
		font-family: 'Avenir Heavy', sans-serif;
	    font-weight: 700;
	    font-size: 1.25rem;
	    color: #474c55;
	    padding: 3%;
    	padding-bottom: 0;
	}
}

.nav-tabs{
	border: none;

}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link{
	border: none;
}

.beneficiados{
	font-family: 'Roboto', sans-serif;
	color: #5f2580;
	&__box{
		height: 100%;
	    background: white;
	    z-index: 1;
	    position: relative;
	    text-align: center;
	    border-bottom: 16px solid #ecedef;
	}
	&__numero-letra{
		font-weight: 400;
		font-size: 1rem;
		text-align: left;
		line-height: 1;
		&--top{
			margin-top: 15%;
			margin-left: -27%;
			margin-bottom: 0;
		}
		&--ceros{
			font-size: 2.813rem;
			font-weight: 700;
		}
		&--top-educacion{
			margin-top: 15%;
			margin-left: -70%;
			margin-bottom: 0;
		}
	}
	&__numero{
		font-size: 5.625rem;
		font-weight: bold;
		line-height: 0.8;
	}
	&__subtitulo{
		font-size: 2rem;
		font-weight: bold;
	}
	&__subtitulo-h3{
		color: #d51a32;
		font-weight: 400;
		font-size: 1.25rem;
	}
	&__item-numero{
		font-size: 20px;
		font-weight: bold;
		border-bottom: 2px solid #5f2580;
		color: #474c55;
	}
	&__item-texto{
		font-size: 1.125rem;
		font-weight: 400;
		line-height: 1;
		color: #474c55;
	}
	&__item-img{
    	padding: 10px;
	}
	&__img{
		width: 80px;
		&--width{
			width: 70px;
			margin-left: 30px;
		}
		&--margin{
			margin-left: -30px;
		}
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

  .banner{
    &_brujo{
      position: absolute;
      left: 10%;
      top: 38%;

      &__titulo{
        color: white;
        font-size: 2.25rem;
        font-family: 'Roboto', sans-serif;
      }
    }
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.banner{
		height: auto;
	    &__titulo{
		    width: 40%;
	    }
	}

  .nav-tabs{
  	font-size: 1rem;
  }

	.tabs-box{
		margin-top: -50px;
	}

	.complejo{
		&__item{
			width: 200px;
      margin: 1rem;
		}
		&__descripcion{
			padding: 5% 8% 0 8%;
      font-size: 1.25rem;

		}
	}

	.beneficiados{
		height: 885px;
		&__box{
			height: 525px;
			border-radius: 0 0 25px 25px;
	    	position: absolute;
	    	border-bottom: none;
		}

		&__numero-letra{
			font-size: 1.25rem;
			&--ceros{
				font-size: 3.75rem;
			}
		}
		&__numero{
			font-size: 5rem;
		}
	}

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .tabs-box{
    &__titulo{
        font-size: 2.5rem;
    }
  }
}

@media (min-width: 1300px) {
	.beneficiados{

    &__numero{
			font-size: 7rem;
		}

    &__box{
			height: 565px;
		}
	}
}

@media (min-width: 1400px) {
	.banner{
	    &__titulo{
		    width: 34%;
		    font-size: 1.875rem;
	    }
	}
}

@media (min-width: 1700px){
  .nav-tabs{
  	font-size: 1.875rem;
  }

  .complejo{
		&__item{
			width: 336px;
		}

	}
}
