.nota{
	margin-top: 2%;

	&__imagen{
		background-color: #d1c0b8;
		text-align: center;
	}
	&__texto{
		background-color: #d1c0b8;
		text-align: center;
	}
	&__comillas{
		position: relative;
		top: -15px;
		background-color: #d1c0b8;
		width: 30%;
		margin: 0 auto;
		&-img{
			width: 30px;
		}
	}
	&__contenedor{
		border: 1px solid #5f2584;
		width: 100%;
		margin: 0 auto;
		left: 0;
		right: 0;
		margin-top: 20px;
		min-height: 200px;
		position: relative;
	}
	&__palabras{
		font-family: Roboto;
		position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  width: 102%;
		background-color: #d1c0b8;
		padding:10px 0px;
		color: #4c5154;
		text-align: left;
		font-size: 0.75rem;
		text-align: justify;
	}
	&__augusto{
		color: #4c5154;
		padding-top: 30px;
	}
	&__h2{
		font-family: Roboto;
		font-size: 0.75rem;
		color: #3b0c59
	}
	&__parrafo{
		font-size: 0.75rem;
		font-weight: lighter;
	}
	&__parrafo2{

		font-size: 0.75rem;

	}
	&__link{
		color: #4c5154!important;
		text-decoration: underline;
	}
	&__link:hover{
		color: #4c5154;
	}
	&__link:active{
		color: #4c5154;
	}
}

.objetivos{
	background: #ecedef;
	padding: 5% 0;
	font-family: 'Roboto', sans-serif;
	overflow:hidden;
	min-height: 500px;
	margin-top: 20px;

	&__titulo{
	    background: #ecedef;
	    text-align: center;
	    color:#690670;
	    font-weight: 400;
	    margin-bottom: 1%;
			font-size: 1rem;
	}
	&__descripcion{
		color: #474c55;
		font-weight: 300;
		font-size: 1rem;
		padding-top: 6%;
		text-align: justify;
	}
	&__item{
		text-align: center;
		margin-top: 8%;
		padding: 10px;
		width: 33%;
 }

	&__img{
		transition: all .1s ease-in-out;
	}
	&__img:hover{
		-webkit-transform:scale(1.1);transform:scale(1.1);
		border: 3px solid #e8d8db;
	}

}

.junta{
	margin-top: 10%;
	font-family: 'Roboto', sans-serif;
	&__titulo{
	    text-align: center;
	    font-weight: 400;
	   	margin: 0 auto;
    	color: #f58220;
    	background: #fff;
			font-size: 1.125rem;
	}
	&__subtitulo{
		color: #c0c0c0;
		border-bottom: 1px solid #c0c0c0;
    	padding-bottom: 10px;
    	font-weight: 400;
    	margin-top: 10%;
			font-size: 1rem;
	}

	&__box{
		text-align: center;
		position: relative;
		bottom: 2;
	}

	&__nombre{
		color: white;
		background: #690670;
		padding: 10px;
		margin: 0;
		font-weight: 400;
		font-size: 0.875rem;
	}

	&__cargo{
		color: #4c5154;
		background: white;
		padding: 10px;
		font-size: 0.875rem;
		font-weight: 400;
		margin: 0;
		border: 1px solid #c0c0c0;
	}
	&__img{
		width: 100%;
	}
}

.aliados{
	margin-top: 12%;
    background: #ecedef;
    font-family: 'Roboto', sans-serif;
    padding: 15% 0;

	&__titulo{
		text-align: center;
		color: #5f2584;
		font-weight: 400;
	}
	&__container{
		background: white;
		padding: 5%;
	}
	&__img{
		-webkit-filter: grayscale(1);
  		filter: grayscale(1);
	}
}
.slick-track {
  display: flex;
  align-items: center;
}

.item img {
  max-width: 100%;
}
.slick-active.slick-current .aliados__img{
	-webkit-filter: grayscale(0);
  	filter: grayscale(0);
}
.slick-next,.slick-prev{ display:block}
.slick-dots li.slick-active button:before{
	color: #ff7e00;

}
.slick-dots{
	display: none;
	bottom: -50%;
}
.slick-dots li{
	margin: 0 15px;
}
.slick-dots li button:before{
	content:"\00af";
	font-size: 4.375rem;
}

@media (min-width: 425px){
	.objetivos{
		&__item{
			width: auto;
	 	}
	}
}
@media (min-width: 992px) {
	.objetivos{
		padding: 3% 0;
		&__container-texto{
			border-top: 1px solid #5f2584;
		}
		&__descripcion{
			width: 80%;
			margin: 0 auto;
			font-size: 1.1rem;
			padding-top: 3%;
		}
		&__item{
			margin-top: 4%;
			width: 12%;
		}
		&__titulo{
		   font-size: 2.125rem;
		}
	}
	.slick-dots{
		display: block;
	}
	.junta{
		margin-top: 5%;
		&__titulo{
			margin-top: -25px;
			width: 35%;
			font-size: 2.2rem;

		}
		&__subtitulo{
			margin-top: 4%;
			padding-bottom: 15px;
			font-size: 1.5rem;
		}
		&__nombre{
			font-size: 1.1rem;
			padding: 10px 30px;
		}
		&__cargo{
			font-size: 1.125rem;
		}
	}
	.aliados{
		margin-top: 3%;
		padding: 2% 0;
		padding-bottom: 100px;
			&__titulo{
					font-size: 2.2rem;
					padding-top: 10px;
					padding-bottom: 30px;
			}
			&__container{
				padding: 50px 110px;
			}
	 }

	 .nota{
		 	margin-top: 2%;
			&__imagen{
				padding-left: 0;
				padding-right: 0;
				text-align: left;
			}
			&__palabras{
				position: absolute;
			  top: 50%;
			  left: 50%;
			  transform: translate(-50%, -50%);
			  width: 102%;
				padding:10px 40px;
				font-size: 1.25rem;
				font-weight: lighter;
			}
			&__comillas{
		 		top: -30px;
		 		width: 50%;
				&-img{
					width: auto;
				}
		 	}
		 	&__contenedor{
		 		width: 70%;
		 		margin-top: 100px;
		 		min-height: 168px;
		 	}
		 	&__augusto{
		 	  padding-top: 30px;
		 	}
		 	&__h2{
		 		font-size: 1.313rem;
		 	}
		 	&__parrafo{
		 		font-size: 1.313rem;
		 	}
		 	&__parrafo2{
		    font-size: 1.25rem;
		  }
	 }
}

@media (min-width: 1200px) {
	.junta{
		&__nombre{
			padding: 10px;
		}
	}
}

@media (min-width: 1400px) {
	.objetivos{
		background: #ecedef;
		padding: 3% 0;
		font-family: 'Roboto', sans-serif;
		overflow:hidden;
		min-height: 600px;
	}
}

@media (min-width: 1800px) {
	.objetivos{
		&__item{
			width: auto;
		}
	}
}
