label.error {
		display: inline;
    color: red;
}

.trabaja{
  &-container{
		max-width: 1151px;
	}
	&-card{
		min-height: 280px;
		padding: 30px;
		&__h2{
			font-size: 1.4rem;
			color:#4c5154;
			font-weight: 400;
		}
		&__local{
			font-size: 0.9rem;
			font-weight: 300;
			font-family: 'Roboto', sans-serif;
		}
		&__icon{
			color: #690670;
			font-size: 1.2rem;
		}
	}
	&__link{
		padding: 8px 30px 8px 20px;
    font-size: 1.1rem;
		transition: all .1s ease-in-out;
		border: 1px solid #690670;
    border-radius: 8px;
    color: #690670;
  	background: transparent;
		text-decoration: none;
		font-size: 0.9375rem;
		z-index: 200;
	}
	&__link:hover{
		text-decoration: none;
		background-color: white;
		color: #474c55!important;
	}
}

.trabaja-detalle{
  &-container{
		max-width: 1151px;
    margin-top: 100px;
    h2{
      font-size: 1.1rem;
      color: #474c55;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    ul{
      list-style:circle;
      padding-left: 15px;
    }
    li{
      display: list-item;
      padding-top: 7px;
      padding-bottom: 7px;
    }
	}
  &__posicion{
    text-transform: uppercase;
    font-size: 1.1rem;
    color: #474c55;
  }
  &__programa{
    padding-top: 10px;
  }
  &__link{
    color: #f58220;
    text-decoration: underline;
    &:visited{
      color: #f58220;
    }
    &:link{
      color: #f58220;
    }
  }
  &__local{
    font-size: 0.9rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
  }
  &__icon{
    color: #474c55;
    font-size: 1.2rem;
  }
  &__submit{
    background: #ff8200;
    color: white;
    border-radius: 0;
    padding: 10px 15px;
    margin-left: 0px;
    height: 46px;
    max-width: 150px;
  }
  &__aceptar{
    background: #ff8200;
    color: white;
    border-radius: 0;
    padding: 10px 15px;
    margin-left: 0px;
    height: 46px;
    max-width: 150px;
    display: none;
  }
}

.modal-backdrop {

    z-index: 400;

}

.modal {
  z-index: 401!important;
}

#registroModal .modal-content{
  &__cerrar{
    position: absolute;
    right: 0;
    background-color: #690670;
    height: 45px;
    width: 45px;
    z-index: 3;
  }
  &__boton-cerrar{
    color: white;
    font-size: 40px;
    padding: 2px 10px 2px 8px!important
  }
  &__boton-cerrar:hover{
    color: white!important;
  }
}

#registroModal .modal-header{
  width: 100%;
  position: absolute;
  top: 80px;
  border: 0px;
  text-align: center;
}

#registroModal .modal-header2{
  width: 100%;
  position: absolute;
  top: 80px;
  border: 0px;
  display: none;
  text-align: center;
  color: #bf0062;
}

#registroModal .modal-title {
	width: 300px;
    margin: 0 auto;
    color: #bf0062;
    font-family: 'Avenir Heavy';
}

#registroModal .modal-body {
    width:100%;
    margin: 0 auto;
    padding-bottom: 50px;
}

#registroModal .form-control {
    border: 1px solid #9b89af;
    border-radius: 0;
    height: auto;
}

#registroModal input {
    background: #96999f;
    color: white;
    padding: 12px 15px;
    border-bottom: 1px solid #96999f;
    width: 100%;
}

#registroModal .file{
  padding: 8px 15px;
  font-size: 11px;
}

#registroModal input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

#registroModal input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

#registroModal select{
  background: #96999f;
  padding:11px;
  color: white;
}

#registroModal .modal-footer{
  border-top: 0px;
}

#registroModal .modal-footer {
  display: block;
  text-align: center;
}

//Modal de postulación

#postulaModal .modal-content{
  &__cerrar{
    position: absolute;
    right: 0;
    background-color: #690670;
    height: 45px;
    width: 45px;
    z-index: 3;
  }
  &__boton-cerrar{
    color: white;
    font-size: 40px;
    padding: 2px 10px 2px 8px!important
  }
  &__boton-cerrar:hover{
    color: white!important;
  }
}

#postulaModal .modal-header{
  width: 100%;
  position: absolute;
  top: 80px;
  border: 0px;
  text-align: center;
}

#postulaModal .modal-header2{
  width: 100%;
  position: absolute;
  top: 80px;
  border: 0px;
  display: none;
  text-align: center;
  color: #bf0062;
}

#postulaModal .modal-title {
	width: 300px;
    margin: 0 auto;
    color: #bf0062;
    font-family: 'Avenir Heavy';
}

#postulaModal .modal-body {
    width:100%;
    margin: 0 auto;
    padding-bottom: 50px;
}

#postulaModal .form-control {
    border: 1px solid #9b89af;
    border-radius: 0;
    height: auto;
}

#postulaModal input {
    background: #96999f;
    color: white;
    padding: 12px 15px;
    border-bottom: 1px solid #96999f;
    width: 100%;
}

#postulaModal .file{
  padding: 8px 15px;
  font-size: 11px;
}

#postulaModal input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

#postulaModal input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

#postulaModal select{
  background: #96999f;
  padding:11px;
  color: white;
}

#postulaModal .modal-footer{
  border-top: 0px;
}

#postulaModal .modal-footer {
  display: block;
  text-align: center;
}

.file{
  &__label{
    width:30%;
    display: inline-block;
    font-size: 12px;
    padding-left: 10px;
    padding-top: 2px;
		display: none;
  }
  &__container{
    width:100%;
    display: inline-block;
    float: right;
  }
}

@include media-breakpoint-up(sm) {
	#registroModal .modal-title {
		width: auto;
	}

	#postulaModal .modal-title {
		width: auto;
	}

}
@include media-breakpoint-up(md) {

}
@include media-breakpoint-up(lg) {

	.file{
		&__label{
			display: inline-block;
		}
		&__container{
	    width:68%;
		}
	}

	#registroModal .modal-header{
	  width: 100%;
	}

  #registroModal .modal-dialog {
    max-width: 70%;
    margin: 1.75rem auto;
  }

  #registroModal .modal-content {
    border-radius: 0;
  }

	#postulaModal .modal-header{
	  width: 100%;
	}

  #postulaModal .modal-dialog {
    max-width: 70%;
    margin: 1.75rem auto;
  }

  #postulaModal .modal-content {
    border-radius: 0;
  }

	.trabaja{
	  &-container{
			max-width: 900px;
		}
	}
}
@include media-breakpoint-up(xl) {
	#registroModal .modal-body {
	    width:80%;
	}
	#postulaModal .modal-body {
	    width:80%;
	}
	.trabaja, .trabaja-detalle{
	  &-container{
			max-width: 900px;
		}
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1600px) {
	.trabaja, .trabaja-detalle{
		&-container{
			max-width: 1100px;
		}
	}
}

@media (min-width: 1700px) {
	.trabaja, .trabaja-detalle{
		&-container{
			max-width: 1300px;
		}
	}
}
