.voluntario{
	&__formulario{
		padding: 3%;
	}
	&__formulario-titulo{
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		color: #474c55;
		padding: 0 3%;
	}
	&__input{
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 1.125rem;
		background: #96999f;
		color: white;
		padding: 10px;
		border-bottom: none !important;
		&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		    color: white;
		    opacity: 1; /* Firefox */
		}
		:-ms-input-placeholder { /* Internet Explorer 10-11 */
		    color: white;
		}
	}
	&__select{
		height: 50px !important;
		background-color: #96999f;
		color: white;
		padding: 10px;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 1.125rem;
		&__arr{
	      background: #b0b2b6;
	      bottom: 5px;
	      position: absolute;
	      right: 0px;
	      top: 0px;
	      width: 50px;
	      height: 50px;

	      &:before {
	        content: '';
	        position: absolute;
	        bottom: 18px;
	        right: 18px;
	        margin-top: -21px;
	        pointer-events: none;
	        border-top: 8px solid white;
	        border-left: 6px solid transparent;
	        border-right: 6px solid transparent;
	      }
	    }
	}
	&__submit{
		display: block;
		background: #ff8200;
		color: white;
		border-radius: 0;
		padding: 10px 15px;
		margin-left: 0px;
		height: 50px;
		font-size: 1.125rem;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
	}
	&__nota{
		color: #96999f;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 1.125rem;
		margin-top: 1%;
	}
}

.form-control:focus {
	color: #fff;
    background-color: #96999f;
    box-shadow: none;
    border-color: #96999f;
}
