@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i");

@font-face {
    font-family:'Gotham Bold';
    src: url('../../fonts/Gotham-Bold.eot');
	  src: url('../../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Gotham-Bold.woff2') format('woff2'),
		url('../../fonts/Gotham-Bold.woff') format('woff'),
		url('../../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
}

@font-face {
    font-family: 'Avenir Heavy';
    src: url('../../fonts/AvenirLT-Heavy.eot');
    src: url('../../fonts/AvenirLT-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/AvenirLT-Heavy.woff2') format('woff2'),
        url('../../fonts/AvenirLT-Heavy.woff') format('woff'),
        url('../../fonts/AvenirLT-Heavy.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Medium';
    src: url('../../fonts/AvenirLT-Medium.eot');
    src: url('../../fonts/AvenirLT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/AvenirLT-Medium.woff2') format('woff2'),
        url('../../fonts/AvenirLT-Medium.woff') format('woff'),
        url('../../fonts/AvenirLT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Light';
    src: url('../../fonts/AvenirLTStd-Light.eot');
    src: url('../../fonts/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/AvenirLTStd-Light.woff2') format('woff2'),
        url('../../fonts/AvenirLTStd-Light.woff') format('woff'),
        url('../../fonts/AvenirLTStd-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
