// Body
$body-bg: #fff;
$body-font-color: #2b231f;

// Typography
$font-family-sans-serif: 'Gotham Light', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Customize
$naranja: #dca582;

$theme-colors: (
  "naranja": $naranja
);

$border-radius: 0;

$primary-color: #dea47e;
