
.credito-educativo{
	color:#474c55;
	padding-top: 80px;
	&__titulo{
		font-size: 1.625rem;
		font-weight: 400;
	}
	&__parrafo{
		font-size: 1.1rem;
		font-weight: 300;
    line-height: 1.3;
    margin-top: 1rem;
    text-align: justify;
	}
}
@media(max-width:768px){
  .credito-educativo__parrafo{
		margin: 2% auto;
		font-size: 0.875rem;
		font-weight: 300;
  }
	.credito-educativo__titulo{
		font-size: 1.115rem;
		padding-top:2.5rem;
	}
}

.personajes-educativo{
	padding-top: 80px;
}

.preguntas-frecuentes{
	width: 80%;
	display: block;
	margin: 0 auto;
	padding-top: 80px;
}
.card-header{
	padding: 0;
	border-bottom:none;
}
.pregunta{
	color:#63666a !important;
	text-decoration: none;
	font-size: 1.143rem;
	display: block;
	text-align: left;
	padding: 1rem 2rem;
	white-space: unset;
	&:hover{
		color:#63666a;
		text-decoration: none;
	}
	&:active{
		text-decoration: none;
	}
	&:visited{
		text-decoration: none;
	}
	&__plus{
		right: 30px;
    position: absolute;
		color: #ff8200;
		padding-top: 5px;
	}
}

.respuesta-lista {
  list-style: none;
  padding: 0;
  margin: 0;
	&__item{
		padding-left: 1.5em;
	  text-indent: -.7em;
		&::before {
		  content: "• ";
		  color: #ff8200;
		}
	}
}

.card-header{
	background-color: white;
}

.card-body{
	background-color: #fafafa;
}

[data-toggle="collapse"]:after {
    display: inline-block;
    display: inline-block;
    font-family:'Font Awesome 5 Solid';
		font-weight: 900;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	  content:"\F105";
		color: #ff8200;
		font-size: 1.5rem;
	  transform: rotate(90deg) ;
	  transition: all linear 0.25s;
	  float: right;
  }
[data-toggle="collapse"].collapsed:after {
  transform: rotate(0deg) ;
}

.modal__educacion{
	&__body{
		padding: 0;
		position: relative;
		.close{
			position: absolute;
			z-index: 12;
			right: 2rem;
			top: 1.2rem;
			font-size: 3rem;
		}
		.container-fluid{
			padding: 0;
		}
	}
}


@include media-breakpoint-up(xs) { }
@include media-breakpoint-up(sm) { }
@include media-breakpoint-up(md) { }
@include media-breakpoint-up(lg) { }
@include media-breakpoint-up(xl) { }
