.banner-fondo{
	position: relative;
	&__parrafo{
		left: 13%;
    position: absolute;
	  top: 50%;
	  transform: translateY(-50%);
		max-width: 680px;
		color: white;
		font-size: 1.429rem;
	}
	&__titulo{
		font-size: 3.214rem;
	}
}

.botones-fondo{
	padding: 80px 0;
}

.ayuda__detalle{
	padding:5rem 0;
	&__contenido{
		p{
			font-size: 1.1rem;
			text-align: justify;
		}
	}
}
.boton_contacto{
	position: fixed;
	right: 3.4rem;
	bottom: 3.4rem;
	cursor: pointer;
	z-index: 1;
	a{
		background: #ff8200;
		color: #fff !important;
		padding: 18px 23px;
		border-radius: 7px;
		font-size: 16px;
		text-decoration: none;
	}
}
@media(max-width:768px){
	.boton_contacto{
		position: fixed;
		right: 0.4rem;
		bottom: 1.4rem;
		cursor: pointer;
		z-index: 1;
		a{
			background: #ff8200;
			color: #fff !important;
			padding: 12px 6px;
			border-radius: 7px;
			font-size: 14px;
			text-decoration: none;
		}
	}
}
.textnesst{
  margin-top: 2rem;
}

@include media-breakpoint-up(xs) { }
@include media-breakpoint-up(sm) { }
@include media-breakpoint-up(md) { }
@include media-breakpoint-up(lg) { }
@include media-breakpoint-up(xl) { }
