.postula{
  padding-bottom: 7rem;  
}

.fsBody .fsLabel, .fsBody label{

  font-family: 'Roboto', sans-serif !important;
}
.fsborderradius .fsBody .fsSectionHeader{
  margin-bottom: 7px !important;
  padding-left: 0;
  .fsSectionHeading{
    color:#565656;
    font-family: 'Roboto', sans-serif;
  }
}
.fsRowBody input[type="text"].fsRequired, .fsRowBody input[type="email"].fsRequired, .fsRowBody input[type="number"].fsRequired, .fsRowBody input[type="tel"].fsRequired, .fsForm select.fsRequired, .fsForm textarea.fsRequired{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  background: #efefef !important;
  color: #565656;
  border: 1px solid #e4e4e4 !important;
  padding: 10px;
  &:focus{
    color: #565656;
    background-color: #e4e4e4 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color:#e4e4e4 !important;
  }
}
.fsRowBody input[type="text"], .fsRowBody input[type="email"], .fsRowBody input[type="number"], .fsRowBody input[type="tel"], .fsForm select, .fsForm textarea{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  background: #efefef !important;
  color: #565656;
  border: 1px solid #e4e4e4 !important;
  padding: 10px;
  &:focus{
    color: #565656;
    background-color: #e4e4e4 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color:#e4e4e4 !important;
  }
}
div.fsSaveIncomplete{
    cursor:pointer;
}
.fsRowBody input[type="radio"], .fsRowBody input[type="checkbox"]{
  top: 1px !important;
  width: 18px !important;
  height: 19px !important;
}
.fsRowBody input[type="radio"]:before, .fsRowBody input[type="radio"]:checked:before, .fsRowBody input[type="checkbox"]:before, .fsRowBody input[type="checkbox"]:checked:before{
  width: 18px !important;
  height: 18px !important;

}
.fsBody .fsForm{
      position: relative;
}

.fsBody .fsSupporting{
  font-family: 'Roboto', sans-serif;
}
div.fsProgressBarContainer{
  position: absolute !important;
  top: 0 !important;
  width: 95% !important;
}


.fsRequiredMarker{
  color:#ff8200 !important;
}
div.fsProgressText{
  color:#eaeaea !important;
}
div.fsProgressBar{
  background-color: #5f0578!important;
}
.fs-btn2.fs-btn2--style_create{
  background-color: #ff8200 !important;
  color:#fff!important;
}

.fsPreviousButton, .fsNextButton{
  padding: 0px !important;
  span.fsFull{
    background-color:#ff8200;
    display: inline-block;
    padding: 13px 25px;
  }
}
.fsSubmit input.fsSubmitButton{
  background-color:#ff8200 !important;
}
@media(max-width:425px){
  div.fsProgressBarContainer{
    width: 89% !important;
  }
  .fsBody .fsForm{
    margin-top: 3rem !important;
  }
  .participa__subtitle--postula{
      margin-bottom: 4rem;
  }
}

@media (max-width: 40em){
label.fsOptionLabel {
    border: 1px solid #ffffff00 !important;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #ffffff00;
    color: #585858 !important;
 }
}
@media (max-width: 699px), (device-height: 1024px) and (device-width: 768px) and (orientation: portrait), (device-height: 1024px) and (device-width: 768px) and (orientation: landscape){
  .fsPagination .fsNextButton, .fsPagination .fsPreviousButton{
    background-color:#ff8200 !important;
  }
}
@media(max-width: 699px){
  .fsPreviousButton span.fsFull, .fsNextButton span.fsFull{
    display: none;
  }
}
