/*
Theme Name: webtilia
Theme URI: http://www.webtilia.com
Author: SW-THEMES
Author URI: http://www.webtilia.com/
Description: webtilia.
Version: 3.3.2
License: Commercial
License URI: http://webtilia.com
Tags: woocommerce, corporate, ecommerce, responsive, blue, black, green, white, light, dark, red, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
Text Domain: porto

*/

/*************** ADD YOUR CUSTOM CSS HERE  ***************/
html,
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

@font-face {
  font-family: 'Avenir Heavy';
  src: url(./fonts/AvenirLT-Heavy.eot?dadcd72407af25a2ac1699356b14ba29);
  src: url(./fonts/AvenirLT-Heavy.eot?dadcd72407af25a2ac1699356b14ba29) format("embedded-opentype"), url(./fonts/AvenirLT-Heavy.woff2?573b2e6ab8e8bd1a14b230a218f6c6b8) format("woff2"), url(./fonts/AvenirLT-Heavy.woff?20bcac6d9252c3cfbec60b9d9b0f53c8) format("woff"), url(./fonts/AvenirLT-Heavy.ttf?a3fae2f5200b1ec43d660b5d1848c3bf) format("truetype");
  font-weight: bold;
  font-style: normal;
}

.pum-content p {margin: 0;margin-bottom: 0px;}
.bypostauthor {}
.post-block.post-author.clearfix{ display:none!important;}
.mr-3, .mx-3 {
    margin-right: 1rem !important;
}
#footer {
    overflow: hidden;
    width: 100%;
    background: #474c55;
    color: white;
    font-size: 12px;
}

#footer p{
  color: white;
}

.footer_content {
  margin-top: 3%;
}

.footer_content__logo {
  margin: 0 auto;
  left: 0;
  right: 0;
  max-width: 160px;
  display: block;
}

.footer_content__container {
  min-height: 200px;
}

.footer_content__direccion {
  margin-top: 5%;
}

.footer_content__telefono {
  margin-top: 5%;
}

.footer_content__email {
  margin-top: 1%;
}

.footer_content__enlace {
  color: white !important;
}

.footer_content__enlace:hover {
  color: white;
}

.footer_content__enlace:active {
  color: white;
}

.footer_content__siguenos {
  margin-bottom: 10px;
}

.footer_content__menu {
  padding: 20px 3%;
  height: 200px;
}

.footer_content__menu-hr {
  width: 17%;
  text-align: right;
  margin-top: 0;
  margin: 0;
  margin-bottom: 20px;
  border-top: 2px solid #fff;
}

.footer_content__links-interes {
  padding: 0px 3%;
  height: 200px;
  margin-top: 15px;
}

.footer_content__links-interes-hr {
  width: 17%;
  text-align: right;
  margin-top: 0;
  margin: 0;
  margin-bottom: 20px;
  border-top: 2px solid #fff;
}

.footer_content__redes {
  padding: 45px 3% 0 3%;
}

.footer_content__lista {
  list-style: none;
  padding: 0;
}

.footer_content__item-lista-enlace {
  color: white !important;
  text-decoration: none;
  line-height: 2.3;
}

.footer_content__icon {
  margin-left: 0;
  color: white !important;
  text-decoration: none;
  line-height: 2.3;
}

.footer_bottom__copyright {
  margin: 2% 0;
  text-align: center;
  font-size: 0.6875rem;
}

.footer_bottom__enlace {
  color: white;
  text-decoration: none;
}

.footer_bottom__enlace:active {
  color: white !important;
  text-decoration: none;
}

.footer_bottom__enlace:focus {
  color: white !important;
  text-decoration: none;
}

.footer_bottom__enlace:hover {
  color: white !important;
  text-decoration: none;
}

.footer_bottom__botton {
  background: #5a5e66;
  padding: 2px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  margin: 0 auto;
}

.footer_bottom__enlace {
  color: white !important;
  margin-top: 3%;
}

#custom_html-2, #custom_html-3, #custom_html-4 {
  /* border-right: 1px solid white; */
  height: 200px;
}
#custom_html-3, #custom_html-4 {
  display: none;
}

#footer .footer-bottom{
  background-color: #474c55;
  color: white;
  padding: 0;
}

#footer .footer-bottom .container .footer-center{
  padding: 0;
}

#footer .widget{
  margin-bottom: 0;
}

#footer .col-md-3{
  float: left;
}
@media (min-width: 576px) {
  .footer_content__redes {
    margin-top: 50px;
  }
}
@media (min-width: 768px) {
  #custom_html-3, #custom_html-4 {
    display: inline-block;
  }

  .footer_bottom__copyright {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .footer_content__logo {
    max-width: 135px;
    display: unset;
  }

  .footer_content__menu {
    border-right: 1px solid white;
    padding: 0px 3%;
  }

  .footer_content__container {
    border-right: 1px solid white;
    height: 200px;
  }

  .footer_content__links-interes {
    border-right: 1px solid white;
    margin-top: 0px;
  }

  .footer_content__redes {
    margin-top: 0px;
    padding: 0px 3% 0 3%;
  }

  #custom_html-2, #custom_html-3, #custom_html-4 {
    border-right: 1px solid white;
    width: 100%;
  }
}

.menu_top_right a {
  padding: 0 1rem;
  display: inline-block;
  color: #474c55 !important;
  font-size: 0.9375rem;
  margin: 0 1rem;
  font-weight: 300;

}

.menu_top_right a.icon {
  padding: 0;
  margin: 0 5px;
}

.menu_top_right a img {
  margin-right: 15px;
}

.barra_top {
  text-align: right;
  padding-bottom: 12px;
  padding-top: 12px;
}

.menu_top_right {
  display: inline-block;
}

.header-top{
  background: #fff;
  border-bottom: none;
  display: none;
}

.block-inline{
  line-height: 40px;
}
#header .header-left{
  text-align: right;
}

.mega-menu > li.menu-item > a,
.mega-menu > li.menu-item > h5{
    text-transform: initial;
}
#header.header-12 #main-menu .mega-menu > li.menu-item > a{
  padding: 10px 3px 8px 3px;
  font-size: 1.1rem;
  margin-left: 11px;
  font-family: 'Roboto', sans-serif;
  line-height: 15px;
}
.mega-menu > li.menu-item{
  background: #fff;
}

#nav-menu-item-1862 > a {
    border-bottom: 3px solid #ff8200;
}

#nav-menu-item-1863 > a {
    border-bottom: 3px solid #ab2328;
}

#nav-menu-item-1864 > a {
    border-bottom: 3px solid #c8102e;
}

#nav-menu-item-1865 > a {
    border-bottom: 3px solid #c8102e;
}

#nav-menu-item-1866 > a {
    border-bottom: 3px solid #ac0871;
}

.header-main{
    padding-bottom: 0;
}
#header .header-main .container .header-left{
    width: 242px;
}
#header .logo img {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 1002;
  width: 100px;
}

#nav-panel-close{
  right: 0;
  top: 0;
  background-color: #474c55;
}
#nav-panel{
  background-color: #474c55;
  right: 0;
  left: inherit;
  -webkit-transform: translate(260px);
    -moz-transform: translate(260px);
    -ms-transform: translate(260px);
    -o-transform: translate(260px);
    transform: translate(260px);
}
#nav-panel .accordion-menu li.menu-item.active > a{
  background-color: #474c55;
  color: #e79249;

}
#nav-panel .accordion-menu li.menu-item > a{
  color: #ecedef;
  padding: 18px 0 18px 25px;
}
.accordion-menu li.menu-item{
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
@media (min-width: 992px) {
  .header-top{
    display: block;
  }
  .header-main{
      padding-bottom: 45px;
  }

  #header .logo img {
    position: absolute;
    top: -60%;
    left: 0;
    z-index: 1002;
    width: auto;
  }
}

.participa__titulo-box {
  position: relative;
  background: white;
  margin-top: 10%;
}

.participa__title {
  font-family: 'Avenir Heavy';
  position: relative;
  background: white;
  width: auto;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 auto;
  left: 0;
  right: 0;
  color: #f58220;
}

.participa__title--color {
  color: #bf0062;
}

.participa__title--color-gris {
  color: #474c55;
}

.participa__subtitle {
  margin: 2% auto;
  font-size: 0.875rem;
  font-weight: 300;
  color: #474c55;
  text-align: justify;
}

.participa__subtitle--detalle {
  text-align: justify;
}

.participa__subtitle--center {
  text-align: center;
}

@media (min-width: 576px) {
  .participa {
    padding-top: 23%;
  }

  .participa__boton {
    bottom: 10%;
  }
}

@media (min-width: 992px) {
  .participa {
    border-top: 1px solid #5f2584;
    margin-top: 15%;
    padding-top: 0;
  }

  .participa__titulo-box {
    margin-top: -8%;
  }

  .participa__title {
    font-size: 2.2rem;
    padding: 2%;
  }

  .participa__subtitle {
    margin: 2% auto;
    font-size: 1.1rem;
    width: 80%;
    font-weight: 400;
    margin-bottom: 5%;
    line-height: 1.4;
  }

  .participa__subtitle--detalle {
    width: 70%;
  }

  .participa__imagen {
    padding: 0 0.9375rem 0 0;
  }

  .participa__imagen-img {
    width: 94%;
  }

  .participa__item {
    margin: 3rem 10%;
  }

  .participa__item-descripcion {
    font-size: 0.875rem;
  }

  .participa__link {
    padding: 8px 1rem;
    font-size: 1.1rem;
  }

  .participa__box {
    padding-bottom: 5rem !important;
  }

  .participa__item {
    border-bottom: 1px solid #8d9096;
  }
}

@media (min-width: 1300px) {
  .participa__item-title {
    font-size: 1.4rem;
  }

  .participa__item-descripcion {
    font-size: 1.1rem;
  }
}

@media (min-width: 1400px) {
  .menu_top_right {
    margin-right: -7%;
  }
  #main-menu{
    margin-right: -9%;
  }
  .participa {
    margin-top: 8%;
  }

  .participa__item {
    margin: 3rem 0;
  }

  .participa__boton {
    bottom: 10%;
  }

  .participa__item-title {
    font-size: 1.625rem;
  }

  #header .logo img {
    left: -41%;
  }
}

.mision__imagen-w {
  position: absolute;
  display: none;
  max-width: 300px;
  height: auto;
}

@media (min-width: 1400px){
  .logo__imagen {
    width: 242px;
  }
}

@media (min-width: 1300px){
  .logo__imagen {
    width: 180px;
  }
}
@media (min-width: 992px){
  .logo__imagen {
    width: 160px;
  }
}

@media (min-width: 992px) {
  .mision__imagen-w {
    display: block;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.fechas__titulo {
  color: #f58220;
  font-size: 0.9375rem;
  font-weight: 300;
}

.fechas__contenido {
  font-size: 0.9375rem;
  color: #474c55;
  font-weight: 300;
}

.fechas__calendario {
  width: 10%;
  margin-right: 5px;
}

.fechas__parrafo {
  padding-top: 10px;
}

.fechas__parrafo--top {
  padding-top: 5%;
}

.fechas__parrafo--detalle {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding-top: 2%;
}

@media (min-width: 992px) {
  .fechas__titulo {
    font-size: 1.1rem;
  }

  .fechas__contenido {
    font-size: 1.1rem;
    line-height: 1.2;
  }

  .fechas__calendario {
    width: 10%;
    margin-right: 5px;
  }

  .fechas__parrafo {
    padding-top: 10px;
  }

  .fechas__parrafo--detalle {
    width: 25%;
  }

  .fechas__parrafo--top {
    padding-top: 0 !important;
  }
}

.noticia {
  color: #474c55;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  margin-top: 5%;
  padding-right: 0;
}

.noticia__subtitulo a{
  font-weight: 400;
  line-height: 1.2;
  color: #474c55;
}

.noticia__contenido {
  font-weight: 300;
  margin-bottom: 10%;
  font-size: 0.875rem;
}

.noticia__link {
  color: #ff8200 !important;
  font-weight: 300;
  text-decoration: underline;
  position: absolute;
  bottom: 0;
}

.noticia__link--bottom {
  bottom: 15px;
  font-size: 1rem;
  position: relative;
}

.noticia__imgen {
  padding-right: 0;
  height: 265px;
}
.noticia__descripcion {
  height: 265px;
}

@media (min-width: 992px) {
  .noticia {
    padding-right: 15px;
  }

  .noticia__imgen {
    padding-right: 15px;
  }

  .noticia__link--bottom {
    bottom: 15px;
    font-size: 1.125rem;
    position: absolute;
  }
}

.pagination-wrap .pagination,
.pagination-wrap .page-links {
    float: right;
}

.pagination > a, .page-links > a,
.pagination > span, .page-links > span{
  border: none;
  color: #96999f;
  background-color: white;
}

.pagination a:hover, .page-links a:hover, .pagination a:focus,
.page-links a:focus, .pagination span.current, .page-links span.current{
  background-color: white;
  border: none;
  color: #ff8200;
}

@media (min-width: 1400px) {

  .mision__imagen-w {
    max-width: 100%;
  }

  .mision__imagen-w2 {
    max-width: 100%;
  }
}

.owl-carousel .owl-item .fechas__parrafo img{
  width: 11%;
  float: left;
}

.detalle__titulo-novedades {
  font-family: 'Roboto', sans-serif;
  color: #474c55;
  font-weight: 400;
  text-align: center;
  padding-top: 3%;
  margin-bottom: 5%;
  border-top: 1px solid #8d9096;
}

article.post-full, article.post-large{
  margin-left: 0;
}

article.post .read-more, .post-item .read-more{
  display: none;
}

#topcontrol{
  display: none;
}

.mr-2, .mx-2 {
    margin-right: 0.5rem !important;
}

.newsletter {
  position: relative;
  text-align: center;
  border-top: 1px solid #96999f;
  margin-top: 5%;
  color: #474c55;
}

.newsletter--noBorder {
  margin-top: 0;
  border: 0;
  margin-bottom: 2%;
}

.newsletter__title {
  position: absolute;
  top: -40%;
  /* left: 50%; */
  /* right: 50%; */
  background: white;
  width: auto;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.newsletter__title-h2 {
  font-size: 1.25rem;
}

.newsletter__subtitle {
  margin: 1% auto;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 2%;
}

.newsletter .newsletter__contenedor input {
  background: #96999f;
  color: white;
  padding: 18px 15px;
  border-bottom: none !important;
}

.newsletter .newsletter__contenedor input::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

.newsletter .newsletter__contenedor input:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

.newsletter .newsletter__contenedor input::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

.newsletter .newsletter__contenedor input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

.newsletter .newsletter__contenedor input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

.newsletter .newsletter__contenedor .form-control {
  border: 1px solid #9b89af;
  border-radius: 0;
  height: 56px;
}

.newsletter .newsletter__contenedor .newsletter__submit {
  display: block;
  background: #ff8200;
  color: white;
  border-radius: 0;
  padding: 10px 15px;
  margin-left: 0px;
  height: 56px;
  width: 100%;
}

.newsletter .form-control.is-invalid {
  border: 1px solid #df3948 !important;
}

@media (min-width: 992px) {
  .newsletter__title {
    width: 400px;
    font-size: 2.2rem;
  }

  .newsletter__title-h2 {
    font-size: 2.5rem;
  }

  .newsletter__subtitle {
    font-size: 1.4rem;
  }

  .newsletter__submit {
    margin-left: 0.9375rem;
  }

  .newsletter__submit-container {
    max-width: 205px;
  }
}

#main-menu .mega-menu .narrow .popup li.menu-item > a {
  display: block;
  text-align: left;
  color: #bf0062;
  outline: none;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

#main-menu .mega-menu .narrow .popup li.menu-item:hover > a{
  color: white;
  background-color: #bf0062;
}

.mega-menu .popup li.menu-item:hover span {
  border-bottom: 16px solid #bf0062 !important;
}

#main-menu .mega-menu .narrow .popup ul.sub-menu {
  border-top-color: white;
  border-top-width: 0;
  padding: 0;
  padding-top: 20px;
}

#main-menu .mega-menu .narrow .popup ul.sub-menu::before{
    content: " ";
    display: table;
    position: absolute;
    top: 0;
    left: 40%;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 16px solid #bf0062;
    font-size: 0px;
    line-height: 0px;
}

#header .mobile-toggle{
  background: #5f2584;
  right: 10px;
  left: initial;
  top: 0;
  color: white !important;
  font-size: 21px;;
}

// menu mobile
/*nav menu*/
#menuHamburguer {
  left: 12px;
  color: white;
  z-index: 2;
  font-size:  1.563rem;
}

.container-menu {
    position: fixed;
    right: 10px;
    z-index: 3;
    background: #5f2584;
    color: #fff;
    width: 40px;

    font-size: 1.5rem;
    border: 1px solid #fff;
    top: 2%;
}

.container-menu div {
    width: 100%;
    text-align: center;
    margin-top: 2px;
}

.container-menu-icon {
    background: #5f2584;
}

.sidenav {
height: 100%;
/* 100% Full-height */
width: 0;
/* 0 width - change this with JavaScript */
position: fixed;
/* Stay in place */
z-index: 4;
/* Stay on top */
top: 0;
right: 0;
background-color: #474c55;
/* Black*/
overflow-x: hidden;
/* Disable horizontal scroll */
padding-top: 60px;
/* Place content 60px from the top */
-webkit-transition: 0.3s;
transition: 0.3s;
z-index: 16;
/* 0.5 second transition effect to slide in the sidenav */
}


/* Position and style the close button (top right corner) */
.closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 2.25rem;
margin-left: 50px;
color: white;
margin-top: 15px;
}


.overlay3 {
height: 100%;
width: 0;
position: fixed;
z-index: 3;
top: 0;
left: 0;
background-color: slategray;
opacity: .6;
overflow-y: auto;
overflow-x: hidden;
text-align: center;
opacity: 0;
-webkit-transition: opacity 1s;
transition: opacity 1s;
display: none; }




.sidebar-toggle {
  margin-left: -240px;
}
.sidebar {
  padding-top: 60px;
  width: 100%;
  height: 100%;
  background: #474c55;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}
.sidebar #leftside-navigation ul,
.sidebar #leftside-navigation ul ul {
  margin: -2px 0 0;
  padding: 0;
}
.sidebar #leftside-navigation ul li {
  list-style-type: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.sidebar #leftside-navigation ul li.active > a {
  color: #e79249;
}
.sidebar #leftside-navigation ul li.active ul {
  display: block;
}
.sidebar #leftside-navigation ul li a {
  color: #ecedef;
  text-decoration: none;
  display: block;
  padding: 18px 0 18px 25px;
  font-size: 0.9375rem;
  outline: 0;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.sidebar #leftside-navigation ul li a:hover {
  color: #e79249;
}
.sidebar #leftside-navigation ul li a span {
  display: inline-block;
}
.sidebar #leftside-navigation ul li a i {
  width: 20px;
}
.sidebar #leftside-navigation ul li a i .fa-angle-left,
.sidebar #leftside-navigation ul li a i .fa-angle-right {
  padding-top: 3px;
}
.sidebar #leftside-navigation ul ul {
  display: none;
}
.sidebar #leftside-navigation ul ul li {
  background: #23313f;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-bottom: none;
}
.sidebar #leftside-navigation ul ul li a {
  font-size: 0.9375rem;
  padding-top: 13px;
  padding-bottom: 13px;
  color: #aeb2b7;
}

@media (min-width: 992px) {
  .sidenav {
  /* Black*/
  overflow-y: hidden;
  }
}

html.panel-opened body #nav-panel-close{
  margin-left: -40px;
  font-size: 2.25rem;
}
